<!-- Footer Infobar -->
				<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
				<div class="footer-infobar">
					<div class="content-width">
						<!-- Text -->
						If you're looking for a corporate theme that stands out from the usual junk then it's your lucky day!
					</div>
				</div>
				<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
				<!-- END Footer Infobar -->
				<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

				<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
				<!-- Footer -->
				<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
				<div class="footer">
					<div class="content-width">

						<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
						<!-- Four Columns -->
						<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
						<div class="column-container">

							<!-- ~~~~~~~~~~~~~~~~~ -->
							<!-- About -->
							<!-- ~~~~~~~~~~~~~~~~~ -->
							<div class="column-one-third">
								<img alt="" src="images/topbar/datamatrix_logo_white.png" height="25" width="100" class="logo"/>
								<p>Unlock the answers in your data.</p>
								<!--p><a href="about.html">Meet the team</a></p-->
							</div>
							<!-- ~~~~~~~~~~~~~~~~~ -->
							<!-- END About -->
							<!-- ~~~~~~~~~~~~~~~~~ -->

							<!-- ~~~~~~~~~~~~~~~~~ -->
							<!-- Twitter Widget -->
							<!-- ~~~~~~~~~~~~~~~~~ -->
							<!--script type="text/javascript" src="twitter/twitter-feed.js"></script>
							<div class="column-one-fourth">
								<h3>Latest on Twitter</h3>
								<ul id="twitter-feed"></ul>
							</div-->
							<!-- ~~~~~~~~~~~~~~~~~ -->
							<!-- END Twitter Widget -->
							<!-- ~~~~~~~~~~~~~~~~~ -->

							<!-- ~~~~~~~~~~~~~~~~~ -->
							<!-- Flickr Widget -->
							<!-- ~~~~~~~~~~~~~~~~~ -->
							 
							<!-- ~~~~~~~~~~~~~~~~~ -->
							<!-- END Flickr Widget -->
							<!-- ~~~~~~~~~~~~~~~~~ -->

							<!-- ~~~~~~~~~~~~~~~~~ -->
							<!-- Newsletter Sign Up / Follow Us -->
							<div class="column-one-third">
							<h3>Newsletter</h3>
								<div class="footer-newsletter">
									<form id="newsletter" name="newsletter" method="post" action="#">
										<div class="container">
											<input type="text" name="name" class="textbox" placeholder="Email Address" />
											<input type="submit" name="submit" id="submit" value="Sign Up" class="button" />
										</div>
									</form>
								</div>
							</div>
							<!-- ~~~~~~~~~~~~~~~~~ -->
							<div class="column-one-third">

								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- Newsletter -->
								<!-- ~~~~~~~~~~~~~~~~~ -->
								
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- END Newsletter -->
								<!-- ~~~~~~~~~~~~~~~~~ -->

								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- Social Icons -->
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<h3>Follow Us</h3>

								<ul class="footer-social">
									<li>
										<a href="#"><i class="fa fa-linkedin-square"></i><div class="tooltip">LinkedIn</div></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-facebook"></i><div class="tooltip">Facebook</div></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-twitter"></i><div class="tooltip">Twitter</div></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-google-plus"></i><div class="tooltip">Google+</div></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-youtube"></i><div class="tooltip">YouTube</div></a>
									</li>
									
								</ul>
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- END Social Icons -->
								<!-- ~~~~~~~~~~~~~~~~~ -->

							</div>
							<!-- ~~~~~~~~~~~~~~~~~ -->
							<!-- END Newsletter Sign Up / Follow Us -->
							<!-- ~~~~~~~~~~~~~~~~~ -->

						</div>
						<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
						<!-- END Four Columns -->
						<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

						<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
						<!-- Footer Navigation -->
						<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
						<div class="footer-lower-container">

							<ul class="footer-lower">
								<li><a href="index.html">Home</a></li>
								<li><a href="portfolio.html">Solutions</a></li>
								<li><a href="about.html">About Us</a></li>
								<li><a href="portfolio.html">Partners</a></li>
								<!--li><a href="shortcodes.html">Shortcodes</a></li-->
								<li><a href="contact.html">Contact Us</a></li>
								<li><a href="blog.html">Blog</a></li>
							</ul>

							<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
							<!-- Copyright -->
							<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
							<div class="footer-copyright">
								Copyright &copy; 2013 <a href="http://www.datamatrixng.com" target="_blank">DataMatrix NG</a>. All rights reserved.
							</div>
							<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
							<!-- END Copyright -->
							<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

						</div>
						<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
						<!-- END Footer Navigation -->
						<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

						<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
						<!-- Top of Page Link -->
						<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
						<a class="top-of-page-link" href="#"><i class="fa fa-chevron-up"></i></a>
						<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
						<!-- END Top of Page Link -->
						<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

					</div>
				</div>
				<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
				<!-- END Footer -->
				<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

			</div>
			<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			<!-- END Footer Container -->
			<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

		</div>
		<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
		<!-- END Main Container -->
		<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

	</body>
</html>