<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Page Title -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!--title>Home - DataMatrix NG</title-->
    <title>{{ page.title }}</title>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- END Page Title -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- CSS -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- END CSS -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- JavaScript -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Main jQuery Files -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- General Site Configuration -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <script type="text/javascript" src="js/common.js"></script>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Carousels (Modified bxSlider) -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <script type="text/javascript" src="js/jquery.carousel-main.min.js"></script>
    <script type="text/javascript" src="js/jquery.carousel-content.min.js"></script>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Settings -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <script type="text/javascript" src="js/home-slider-settings.js"></script>
    <script type="text/javascript" src="js/carousel-portfolio-settings.js"></script>
    <script type="text/javascript" src="js/carousel-blog-settings.js"></script>
    <script type="text/javascript" src="js/carousel-testimonials-settings.js"></script>
    <script type="text/javascript" src="js/carousel-clients-settings.js"></script>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- END JavaScript -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  </head>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- Body - Add "contained" to below classes for boxed layout -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <body class="light-bg home">

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Main Container -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="main-container">

      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- Top Bar - Set "white" or "dark" below -->
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <div class="topbar-outer white">
        <div class="topbar content-width">

          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- Logo -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <div class="table fullheight">
            <div class="table-cell fullheight middle">
              <div class="logo"><a href="index.html"><img alt="" src="images/topbar/datamatrix_logo_black_main.png" height="30" /></a></div>
            </div>
          </div>
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- END Logo -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- Social Icons -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <ul class="topsocial">
            <li><a href="#"><i class="fa fa-linkedin-square"></i><div class="tooltip">LinkedIn</div></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i><div class="tooltip">Facebook</div></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i><div class="tooltip">Twitter</div></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i><div class="tooltip">Google+</div></a></li>
          </ul>
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- END Social Icons -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- Main Navigation -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <ul class="topnav">
            <li><a href="index.html" class="current">Home</a></li>
            <li><a href="about.html">Solutions</a></li>
            <li><a href="portfolio.html" class="drop">Industries</a>
              <ul>
                <li><a href="about.html">Financial Services</a></li>
                <li><a href="portfolio.html">Insurance</a></li>
                <li><a href="portfolio.html">Telecom</a></li>
                <li><a href="portfolio.html">Retail</a></li>
                <li><a href="portfolio.html">Manufacturing</a></li>
                <li><a href="portfolio.html">Health & Pharma</a></li>
                <li><a href="portfolio.html">Oil & Gas</a></li>
                <li><a href="portfolio.html">Public Sector</a></li>
                <!--li><a href="portfolio-3-columns.html">3 Column Portfolio</a></li>
                <li><a href="portfolio-detail.html">Portfolio Detail</a></li-->
              </ul>
            </li>
            <li><a href="portfolio.html" class="drop">Company</a>
              <ul>
                <li><a href="about.html">About Us</a></li>
                <li><a href="portfolio.html">Partners</a></li>
                <!--li><a href="portfolio-3-columns.html">3 Column Portfolio</a></li>
                <li><a href="portfolio-detail.html">Portfolio Detail</a></li-->
              </ul>
            </li>
            <!--li><a href="blog.html" class="drop">Blog</a>
              <ul>
                <li><a href="blog.html">Article List</a></li>
                <li><a href="blog-post.html">Blog Post</a></li>
              </ul>
            </li-->
            <!--li><a href="shortcodes.html">Shortcodes</a></li-->
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="blog.html">Blog</a></li>
          </ul>
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- END Main Navigation -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- Mobile Navigation -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- Show/Hide Menu Button -->
          <!-- ~~~~~~~~~~~~~~~~~ -->
          <a href="#" class="mobilenav-click">
          <div class="mobilenav-button-container">
            <div class="mobilenav-button-inner">
              <div class="mobilenav-button"></div>
            </div>
          </div>
          </a>
          <!-- ~~~~~~~~~~~~~~~~~ -->
          <!-- END Show/Hide Menu Button -->
          <!-- ~~~~~~~~~~~~~~~~~ -->

          <!-- ~~~~~~~~~~~~~~~~~ -->
          <!-- Navigation Menu (Populated using jQuery) -->
          <!-- ~~~~~~~~~~~~~~~~~ -->
          <div class="mobilenav-container">
            <ul class="mobilenav">
            </ul>
          </div>
          <!-- ~~~~~~~~~~~~~~~~~ -->
          <!-- END Navigation Menu
          <!-- ~~~~~~~~~~~~~~~~~ -->
          <!-- END Mobile Navigation -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        </div>
      </div>
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- END Top Bar -->
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->