
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- Main Navigation -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <ul class="topnav">
            <li><a href="index.html" class = {% if page.url == "/index.html" %} {{ page.active }} {% else %} "" {% endif %}>Home</a></li>
            <li><a href="solutions.html" class = {% if page.url == "/solutions.html" %} {{ page.active }} {% else %} "" {% endif %}>Solutions</a></li>
            <li><a href="#" class="drop {% if page.url == "/financial-services.html" or page.menugroup == "industries" %} {{ page.active }} {% else %} "" {% endif %}">Industries</a>
              <ul>
                <li><a href="financial-services.html">Financial Services</a></li>
                <li><a href="insurance.html">Insurance</a></li>
                <li><a href="telecom.html">Telecom</a></li>
                <li><a href="retail.html">Retail</a></li>
                <li><a href="manufacturing.html">Manufacturing</a></li>
                <!--li><a href="health-pharma.html">Health & Pharma</a></li-->
                <!--li><a href="oil-gas.html">Oil & Gas</a></li-->
                <!--li><a href="public-sector.html">Public Sector</a></li-->
                <!--li><a href="portfolio-3-columns.html">3 Column Portfolio</a></li>
                <li><a href="portfolio-detail.html">Portfolio Detail</a></li-->
              </ul>
            </li>
            <li><a href="about.html" class="drop class = {% if page.url == "/about.html" or page.menugroup == "company" %} {{ page.active }} {% else %} "" {% endif %}" >Company</a>
              <ul>
                <li><a href="about.html">About Us</a></li>
                <li><a href="partners.html">Partners</a></li>
                <!--li><a href="portfolio-3-columns.html">3 Column Portfolio</a></li>
                <li><a href="portfolio-detail.html">Portfolio Detail</a></li-->
              </ul>
            </li>
            <!--li><a href="blog.html" class="drop">Blog</a>
              <ul>
                <li><a href="blog.html">Article List</a></li>
                <li><a href="blog-post.html">Blog Post</a></li>
              </ul>
            </li-->
            <!--li><a href="shortcodes.html">Shortcodes</a></li-->
            <li><a href="contact.html" class = {% if page.url == "/contact.html" %} {{ page.active }} {% else %} "" {% endif %}>Contact Us</a></li>
            <!--li><a href="blog.html" class = {% if page.url == "/blog.html" %} {{ page.active }} {% else %} "" {% endif %}>Blog</a></li-->
          </ul>
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- END Main Navigation -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- Mobile Navigation -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- Show/Hide Menu Button -->
          <!-- ~~~~~~~~~~~~~~~~~ -->
          <a href="#" class="mobilenav-click">
          <div class="mobilenav-button-container">
            <div class="mobilenav-button-inner">
              <div class="mobilenav-button"></div>
            </div>
          </div>
          </a>
          <!-- ~~~~~~~~~~~~~~~~~ -->
          <!-- END Show/Hide Menu Button -->
          <!-- ~~~~~~~~~~~~~~~~~ -->

          <!-- ~~~~~~~~~~~~~~~~~ -->
          <!-- Navigation Menu (Populated using jQuery) -->
          <!-- ~~~~~~~~~~~~~~~~~ -->
          <div class="mobilenav-container">
            <ul class="mobilenav">
            </ul>
          </div>
          <!-- ~~~~~~~~~~~~~~~~~ -->
          <!-- END Navigation Menu -->
          <!-- ~~~~~~~~~~~~~~~~~ -->
          <!-- END Mobile Navigation -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        </div>
      </div>
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- END Top Bar -->
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
